@font-face {
  font-family: "madegoodtime";
  src: url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff2")
      format("woff2"),
    url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54regular";
  src: url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff2") format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54italic";
  src: url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff2")
      format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #121212;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
}

.menu a {
  color: #9a9a9a;
  text-decoration: none;
  font-size: 40px;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  display: block;
}

.menu a:hover {
  color: #9e6e3a;
}

.project {
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 6px;
  overflow: hidden;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* .project-link:hover .project {
  transform: translateY(-4px);
  transition: 0.2s ease;
} */


/* fixed aspect ratio container */
.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-color: #000;
}

.projects-grid {
  margin-left: 270px; /* clears fixed menu */
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}


.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* no stretching */
  display: block;
}

.project-info {
  padding: 12px;
}

.project-title {
  color: #9e6e3a;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  font-family: "Tahoma", sans-serif;
}

.project-desc {
  color: #9a9a9a;
  font-size: 14px;
  margin-top: 6px;
  font-family: "Tahoma", sans-serif;
}


.name {
  color: #9e6e3a;
  font-size: 60px;
  text-decoration: none;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
