@font-face {
  font-family: "madegoodtime";
  src: url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff2")
      format("woff2"),
    url("fonts/madegoodtime/madegoodtimegroteskpersonaluse-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54regular";
  src: url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff2") format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_m54-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pulp_fiction_m54italic";
  src: url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff2")
      format("woff2"),
    url("fonts/pulp-fiction/pulp_fiction_italic_m54-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #121212;
}

.gallery {
  margin-left: 230px;
  column-count: 2;
  column-gap: 0;
}

.gallery img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
}

.menu a {
  /* color: #515050; */
  color: #9a9a9a;
  text-decoration: none;
  font-size: 40px;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  display: block;
}

.menu a:hover {
  /* background: rgb(222, 145,  0); */
  /* color: #de9100; */
  color: #9e6e3a;
}

.name {
  color: #9e6e3a;
  font-size: 60px;
  text-decoration: none;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  .menu {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 250px;
  }

  .gallery {
    margin-left: 150px;
    column-count: 2;
    column-gap: 0;
  }

  .menu a {
    /* color: #515050; */
    color: #9a9a9a;
    text-decoration: none;
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    display: block;
  }

  .name {
    color: #9e6e3a;
    font-size: 40px;
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }
}
