.parent {
  display: flex;
  align-items: center; /* Aligns children (header) vertically */
  justify-content: center; /* Aligns children horizontally */
  height: 100vh; /* Set to the height of the viewport or container */
}

header {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 400%;
    color: #ebdbb2;
}

body{
    min-height: 90vh;
}

footer {
    color: #ebdbb2;
    text-align: center;
    position: sticky;
    top: 90%;
  }

html {
    font-size: large;
    font-family: monospace;
    background-color: rgb(40, 40, 40);
}

a {
    color: #ebdbb2;
    text-decoration: none;
    font-size: 150%;
}
a:link {
    color: #ebdbb2;
    text-decoration: none;
}

a:visited {
    color: #ebdbb2;
    text-decoration: none;
}

a:hover {
    color: #ebdbb2;
    text-decoration: none;
}

a:active {
    color: #ebdbb2;
    text-decoration: none;
}

.mySliders{
    width: 80px;
}
